# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Astro
node_modules/
dist/
.astro/
.vercel/

# Env
.env
.env.local

# Other folders
sito-v2/
.claude/
templates/
css/
copy/
assets/
docs/
js/
preview/
